DATABASE_URL="postgresql://gestor:SENHA@db:5432/gestor_db"
NEXTAUTH_SECRET="GERE_COM_openssl_rand_-base64_32"
NEXTAUTH_URL="http://localhost:3000"
GESTOR_USUARIO="admin"
GESTOR_SENHA="DEFINA_SUA_SENHA"
